.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 5rem 0;
}
.home h2 {
  font-weight: 400;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
}

.h-search {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.categbtns {
  display: flex;
  gap: 4rem;
}

.categbtns > a {
  height: 6rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.categbtns > a > img {
  height: 3rem;
  width: auto;
}
@media (max-width: 1082px) {
  .home > h2 {
    font-weight: 600;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    font-size: 16px;
  }
  h1 {
    font-weight: 800;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    font-size: 24px;
  }
}
@media (max-width: 750px) {
  .home > h2 {
    font-weight: 800;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    font-size: 11px;
  }

  h1 {
    font-weight: 1000;
    padding: 0.3rem;
    letter-spacing: 0.1rem;
    font-size: 16px;
  }
}
