@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.home {
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 14rem;
  gap: 0.5rem;
}

h1,
h2,
h3,
h4 {
  color: black;
}

.h-search {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.categbtns {
  display: flex;
  gap: 4rem;
}

.categbtns > a {
  height: 6rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.categbtns > a > img {
  height: 3rem;
  width: auto;
}
